
* {
  margin: 0px;
  padding: 0px;

}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body{
	width: 320px;
	margin: 20px auto;
	
	font-size: 1.0rem;
	color: #555;
	background: #E9E9E9;
}

/*logo----------------------------------------------------------*/

.logo{
	position: relative;
	display: inline-block;
	/* left: 1.0em; */
	width: auto;
	height: auto;
}

img{
	position: relative;
	left: -0.5em;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
	-webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
	transform: scale(0.8,0.8);
}

.square{
	position: relative;
	/* top: 0.2em; */

	left: 0px;
	display: inline-block;
	background-color: #666;
	
	width: 2.0rem;
	height: 2.0rem;
	margin-right: 0.2rem;

	border-bottom-left-radius: 1rem;
	border-top-right-radius: 1rem;
	-moz-border-radius-bottom-left: 1rem;
	-moz-border-radius-top-right: 1rem; 
	-webkit-border-bottom-left-radius: 1rem;
	-webkit-border-top-right-radius: 1rem;

	box-shadow: 0rem 0rem 8rem 2rem #FFF;
	z-index: -1;
}

.innerSquare{
	position: relative;

	width: 1.0rem;
	height: 1.0rem;

	background-color: #298cad;
	border-bottom-right-radius: 0.9rem;
	-moz-border-bottom-right-radius: 0.9rem;
	-webkit-border-bottom-right-radius: 0.9rem;
}

.logoImg{
	position: relative;

	display: inline-block;
	width: auto;
	width: 10px;
	top: 0.32em;
	left: 0.1em
}


h1{
	font-family: 'ComicNeue Angular Light', sans-serif;
	font-size: 2.0rem;
	font-style: normal;

	color: #666;
	display: inline-block;
}

h2{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	font-style: normal;
	width: 1rem;
	
	color: #666;
	display: inline-block;
}

t{
	font-size: 1.2rem;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
	color: #666;
}
/*animations----------------------------------------------------------*/

text{
	position: relative;
	transition: all 200ms;
	left: 0;
	}

@-webkit-keyframes slide{
	from{
		color:transparent;
		padding-left:0px;
		}
	to{

		padding-left:0;
		color: #666;
		}
	}
animation{
		-webkit-animation: slide 400ms;
		-webkit-animation-fill-mode:both;
		animation
	}

animation:nth-child(){
		-webkit-animation-delay:200ms;
	}

/*animations----------------------------------------------------------*/

.cieniowane{
	box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.06);
}

.wrapper{
	position: relative;
	height: 320px;
	
}

/*buttons----------------------------------------------------------*/

.buttons {
	
	margin-top: 0.6rem;
	display: table;
	width: 100%;
}

.tab {
	font-family: 'Source Sans Pro', sans-serif;

	/* height: 3.4rem; */
	top: 26px;
	display: table-header-group;
	width:33%;
	text-decoration: none;
	text-align: center;
	font-size: 1.4rem;
	color: #FFF;
	background: #298cad;
	vertical-align: middle;
	transition:all 400ms;
}	

.tab a {

	text-decoration: none;
}

.tab:hover{
    
    background: #70BAC7;
}

.tab.active{
    background: #40ACBF;
}

/*content----------------------------------------------------------*/

.content{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1rem;

	margin-top: 1rem;
	margin-bottom: 1rem;
	

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 600px;
	

	background: #FFF;

	border-bottom: #DDD 4px solid;
}

.photo{
	position: relative;
	display: inline-block;

	font-size: 1.4rem;
	color: #FFF;

	background-color: #DDD;
	width: 52px;
	height: 90px;

	-moz-border-radius: 50%; 
     
    
	border-bottom-left-radius: 40%;
	border-top-right-radius: 22%;
	-moz-border-bottom-left-radius: 40%;
	-moz-border-top-right-radius: 22%;
	-webkit-border-bottom-left-radius: 40%;
	-webkit-border-top-right-radius: 22%;
	border-bottom: #DDD 0.16em solid;
	border-left: #FFF 0.2em solid;
	background-image: url("../img/cookie2M.jpg");
	top: -2.2rem;

	text-align: center;
	vertical-align: middle;
	line-height: 200px;  

	float: right;
}

.photoCircle{
	position: relative;
	display: inline-block;

	font-size: 1.4rem;
	color: #FFF;

	background-color: #DDD;
	width: 260px;
	height: 260px;
 
    
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	/*border-bottom: #DDD 0.8em solid;
	border-left: #FFF 1.0em solid;*/
	background-image: url("../img/cookie3.jpg");
	top: -2.2rem;

	text-align: center;
	vertical-align: middle;
	line-height: 200px;  

	float: right;
}

.portfolio{
	width: auto;
	height: auto;
	position: relative;

}

.leftSide{
	width: 220px;
	height: 234px;
	display: inline-block;
	position: absolute;
	left: 0px;
}

.rightSide{
	width: 400px;
	height: 234px;
	display: inline-block;
	position: absolute;
	left: 250px;
}



/*footer----------------------------------------------------------*/

.footer{
	font-family: 'Source Sans Pro', sans-serif;

	margin-top: 1rem;
	margin-bottom: 2rem;

	color: #888	;
	text-align: right;
}